body {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.task-enter, .project-enter {
  opacity: 0;
}

.task-enter-active, .project-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.task-exit, .project-exit {
  opacity: 1;
}

.task-exit-active, .project-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.alert {
  position: absolute;
  top: 1vw;
  right: 1vw;
  padding: 1rem;
  text-transform: uppercase;
}

.error {
  background-color:crimson ;
  color: white;
}

.warning {
  background-color: sandybrown;
  color: white;
}

.success {
  background-color: lightgreen;
}
